<form>
  Search: 
  <input type="text" placeholder="Email" name="email" [(ngModel)] = "searchCustomer.email">
  <input type="text" placeholder="First name" name="first_name" [(ngModel)] = "searchCustomer.first_name">
  <input type="text" placeholder="Last name" name="last_name" [(ngModel)] = "searchCustomer.last_name">
  
  <button (click)="display()">Search</button>
</form>

<table>
  <tr>
    <td>ID</td>
    <td>Email</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>IP</td>
    <td>Latitude</td>
    <td>Longitude</td>
    <td>Created At</td>
    <td>Updated at</td>
  </tr>
  <tr *ngFor='let customer of filteredCustomers'>
    <td>{{customer.id}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.first_name}}</td>
    <td>{{customer.last_name}}</td>
    <td>{{customer.ip}}</td>
    <td>{{customer.latitude}}</td>
    <td>{{customer.longitude}}</td>
    <td>{{customer.created_at}}</td>
    <td>{{customer.updated_at}}</td>
  </tr>
</table>
<router-outlet></router-outlet>